<div class="header">
    <div class="topGreen"></div> <br>
    <div>
        <h1 class="name">Amanda Nelson</h1>
    </div>
    <button class="button button--navigation" [routerLink]="['/home']">About Me</button>
    <button class="button button--navigation" [routerLink]="['/jobs']">Job Histroy</button>
    <button class="button button--navigation" [routerLink]="['/rockchalk']">Campus Involvement</button>
    <button class="button button--navigation" [routerLink]="['/skills']">Skills</button>
    <button class="button button--navigation" [routerLink]="['/courses']">Courses</button>
    <button class="button button--navigation" [routerLink]="['/contact']">Contact Me</button>
</div>
