
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>

<h2 class="title">Campus Involvement</h2>

<div class="row">
  <p class="jobTitle">Marching Jayhawks/KU Basketball & Volleyball Pep Bands</p>
</div>
<div class="row">
  <div class="col-lg-7">
      <p class="company">Clarinet Player</p>
    <p class="date">Fall 2018-Present</p>
    <ul>
      <li>Obtained permanent pregame spot with the Marching Jayhawks band.</li>
      <li>Perfect attendence for all Jayhawk gamedays, concerts, and rehearsals.</li>
      <li>First in the section to obtain my white chord, which is obtained by memorizing all music for pregame. This
      consisted of memorizing 11 songs.</li>
      <li>Played in all 18 required basketball games required of me. This consisted of 9 Women's basketball games and 9 men's basketball games.</li>
      <li>Attended all required Volleyball matches for Volleyball Pep Band.</li>
    </ul>
  </div>
<div class="col-lg-5">
  <iframe src="https://www.youtube.com/embed/g6xswNoBTXI" width="100%" height="400px">
    Browser does not support iframe. </iframe>
  <p>Each year, the basketball pep band puts together a short halftime show and marches in Allen Field House. Above is one of
  those performances.</p>
</div>
</div>
<hr>
<div class="row">
  <p class="jobTitle">Study Abroad</p>
</div>
<div class="row">
  <div class="col-lg-6">
    <ngb-carousel *ngIf="images" [showNavigationArrows]="!showNavigationArrows" [showNavigationIndicators]="!showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide">
        </div>
        <div class="carousel-caption">
          <p>Study Abroad trip 2019</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-lg-6">
    <p class="company">SELF & BLP in Slovenia</p>
    <p class="date">Summer 2019</p>
    <ul>
      <li>Traveled to the small European country of Slovenia to learn about international business and engineering.</li>
      <li>Visited small businesses and large companies to diversify business knowledge.</li>
      <li>Studied European culture and broadened my world views.</li>
      <li>Made a 1 day trip to Venice, Italy.</li>
      <li>Networked with group of 30 KU engineering and business students on the trip.</li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <p class="jobTitle">Women In Computing</p>
</div>
<div class="row">
  information/animations about WIC
</div>
<hr>
<div class="row">
  <p class="jobTitle">Honors Program</p>
</div>
<div class="row">
  information/animations about Honors program
</div>

