
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>

<h2 class="title">Campus Involvement</h2>

<div class="row">
  <p class="jobTitle">Marching Jayhawks/KU Basketball & Volleyball Pep Bands</p>
</div>
<div class="row">
  <div class="col-lg-7">
      <p class="company">Clarinet Player</p>
    <p class="date">Fall 2018-Present</p>
    <ul>
      <li>Obtained permanent pregame spot with the Marching Jayhawks band.</li>
      <li>Perfect attendence for all Jayhawk gamedays, concerts, and rehearsals.</li>
      <li>First in the section to obtain my white chord, which is obtained by memorizing all music for pregame. This
      consisted of memorizing 11 songs.</li>
      <li>Played in all 18 required basketball games required of me. This consisted of 9 Women's basketball games and 9 men's basketball games.</li>
      <li>Attended all required Volleyball matches for Volleyball Pep Band.</li>
    </ul>
  </div>
<div class="col-lg-5">
  <iframe src="https://www.youtube.com/embed/g6xswNoBTXI" width="100%" height="400px">
    Browser does not support iframe. </iframe>
  <p>Each year, the basketball pep band puts together a short halftime show and marches in Allen Field House. Above is one of
  those performances.</p>
</div>
</div>

<hr>

<div class="row">
  <p class="jobTitle">Study Abroad</p>
</div>
<div class="row">
  <div class="col-lg-6">
    <ngb-carousel *ngIf="images" [showNavigationArrows]="!showNavigationArrows" [showNavigationIndicators]="!showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide">
        </div>
        <div class="carousel-caption">
          <p>Study Abroad trip 2019</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-lg-6">
    <p class="company">SELF & BLP in Slovenia</p>
    <p class="date">Summer 2019</p>
    <ul>
      <li>Traveled to the small European country of Slovenia to learn about international business and engineering.</li>
      <li>Visited small businesses and large companies to diversify business knowledge.</li>
      <li>Studied European culture and broadened my world views.</li>
      <li>Made a 1 day trip to Venice, Italy.</li>
      <li>Networked with group of 30 KU engineering and business students on the trip.</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <p class="jobTitle">Women In Computing</p>
</div>
<div class="row">
  <div class="col-lg-4"><img src="./assets/girlCode.png" width="100%" />
  Pictured above is myself volunteering at a GirlCode event. At these events, we invite middle school girls to the School of Engineering
  and teach them how to make simple programs in Python using Raspberry Pi's. Our mission is to empower young girls to
  pursue a career in tech. The number of participants continues to grow with each GirlCode event thanks to all the passion and time the Women and Computing
    college students put into this program.</div>
<div class="col-lg-4">
  <p class="company">Treasurer</p>
  <p class="date">January 2019-Present</p>
  <ul>
    <li>Serve as Treasurer of KU's Women in Computing club. Responsibilities include filing for reimbursements for all
    expenses to the School of Engineering as well as managing the club's bank account. Responsibilities also include helping lead
    all WIC sponsored events.</li>
    <li>Volunteered at GirlCode, which is an event held by the Women in Computing to help teach middle school girls how to code and
    expose them to the potential of being in the computer science industry.</li>
    <li>Volunteered at other events hosted by the School of Engineering to encourage young girls to pursue a career in tech.
      These events include Make it Happen and the Engineering Expo.</li>
    <li>Earned the Opportunity to attend the Grace Hopper Conference October 2019 with this group of women.</li>
  </ul>
</div>
<div class="col-lg-4"><img src="./assets/girlCode4.png" width="100%" class="border" />
This is one of our GirlCode groups. This group of girls attended our theremin project session, where we combined coding and hardware
to make a theremin, which played a music note based on the distance between the girls' hand and the sensor. This particular group was a
GirlScout outreach event.</div>
</div>

<hr>

<div class="row">
  <p class="jobTitle">Honors Program</p>
</div>
<div class="row">
  <div class="col-lg-4">
    <p class="company">Honors Student</p>
    <p class="date">Fall 2018-Present</p>
    <ul>
      <li>Partook in accelerated honors classes to acquire a deeper understanding of required coursework.</li>
      <li>Attended Honors seminar sessions to network with academics at KU which led me to my part-time job freshmen year.</li>
      <li>Received Honors Opportunity Award to assist in Studying Abroad.</li>
      <li>Presented on Finite State Machines and their applications at the Honors Symposium.</li>
    </ul>
  </div>
  <div class="col-lg-8">
    <p class="date">Honors Courses Taken: </p>
    <table>
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Grade</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>HNRS 190</td>
        <td>First Year Seminar: A Just Machine</td>
        <td>A</td>
        <td>I took this course the first semester of my college experience and could not have asked for a better introduction
        to Computer Science. The class was taught by Dr. Perry Alexander who I know cares about his students and wanted me to
        succeed in this industry. He taught us about finite state machines, Alan Turing, and so many other different
        computer science historical figures and theories.</td>
      </tr>
      <tr>
        <td>EECS 141</td>
        <td>Introduction to Digital Logic Design Hnrs.</td>
        <td>A</td>
        <td>I learned the very basics of circuits and logical thinking in this course. Because I took the honors version I
        did more exercises in our lab section and I definitely feel as though this helped me learn the required material
        more in depth and more easily because I had more practice with real-world application.</td>
      </tr>
      <tr>
        <td>MATH 291</td>
        <td>Honors Elementary Linear Algebra</td>
        <td>A</td>
        <td>This was the first linear algebra course I had ever taken and I soon found it was quite different than
        other math courses I have taken in the fact that it was much more theoretical. Because I took the honors
        version I was in a more strenuous curriculum and I was able to learn more about proof and the fundamental
        theorem of linear algebra.</td>
      </tr>
    </table>
  </div>
</div>

