.row {
  margin: 20px;
}

iframe {
  border: 10px solid rgb(88, 224, 122);
  border-radius: 5px;
}

.date {
  font-size: 20px;
}

ul {
}

li {
  padding: 5px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



