
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>

<h2 class="title">Campus Involvement</h2>

<div class="row">
  <p class="jobTitle">Marching Jayhawks/KU Basketball & Volleyball Pep Bands</p>
</div>
<div class="row">
  <div class="col-lg-7">
      <p class="company">Clarinet Player</p>
    <p class="date">Fall 2018-Present</p>
    <ul>
      <li>Obtained permanent pregame spot with the Marching Jayhawks band.</li>
      <li>Perfect attendence for all Jayhawk gamedays, concerts, and rehearsals.</li>
      <li>First in the section to obtain my white chord, which is obtained by memorizing all music for pregame. This
      consisted of memorizing 11 songs.</li>
      <li>Played in all 18 required basketball games required of me. This consisted of 9 Women's basketball games and 9 men's basketball games.</li>
      <li>Attended all required Volleyball matches for Volleyball Pep Band.</li>
    </ul>
  </div>
<div class="col-lg-5">
  <iframe src="https://www.youtube.com/embed/g6xswNoBTXI" width="100%" height="400px">
    Browser does not support iframe. </iframe>
  <p>Each year, the basketball pep band puts together a short halftime show and marches in Allen Field House. Above is one of
  those performances.</p>
</div>
</div>
<div class="row">
  <p class="jobTitle">Study Abroad</p>
</div>
<div class="row">
  <div class="col-lg-6">
    info text
  </div>
  <div class="col-lg-6">
    carousel
  </div>
</div>
<div class="row">
  <p class="jobTitle">Women In Computing</p>
</div>

