<h2 class="title">Contact Me</h2>
<form action="https://formspree.io/amandanelson2018@gmail.com" method="POST">
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-1">
  <label class="label">Name: </label>
  </div>
  <div class="col-lg-6">
      <input type="text" name="name" width="100%" required>
  </div>
  <div class="col-lg-3"></div>
</div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-1">
      <label class="label">Email: </label>
    </div>
    <div class="col-lg-6">
      <input type="text" name="Email" width="100%" required>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-1">
      <label class="label">Comments: </label>
    </div>
    <div class="col-lg-6">
      <textarea name="Comments" maxlength="1000" rows="3" cols="50" required></textarea>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <p><button>Submit the form</button></p>

</form>




