

<h2 class="title">Contact Me</h2>


<form method="post" action="https://formspree.io/amandanelson2018@gmail.com" method="POST">
  <p>
    <label>Name:
      <input type="text" name="name" width="100%"required>
    </label>
  </p>
  <p>
    <label>Email:
      <input type="email" name="Email" width="100%" required>
    </label>
  </p>
  <p>
    <label>Comments:
      <textarea name="Comments" maxlength="1000" rows="3" cols="50" required></textarea>
    </label>
  </p>
  <p><button>Submit the form</button></p>
</form>




