<header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>
<div class=row>
<div class="col-lg-4">
    <div class=skillcol>
    <h2>Technical Skills</h2>
        <h4>
            C++
        </h4>
        <h4>
            Angular Framework
        </h4>
        <h4>
            Java
        </h4>
        <h4>HTML</h4>
        <h4>CSS</h4>
        <h4>React</h4>
        <h4>JavaScript</h4>
        <h4>Python</h4>
        </div>
</div>

<div class="col-lg-4">
    <div class=skillcol>
    <h2>Soft Skills</h2>
    <h4>Leadership</h4>
    <h4>Communication</h4>
    <h4>Drive</h4>
    <h4>Organization</h4>
    <h4>Detail-Oriented</h4>
    </div>
</div>

<div class="col-lg-4">
    <div class=skillcol>
    <h2>Extra Skills</h2>
    <h4>RNA Extraction</h4>
    <h4>Business</h4>
    <h4>Marketing</h4>
    <h4>Microsoft Excel</h4>
    <h4>Operation of Heavy Machinery</h4>
    </div>
</div>
</div>
