<header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>
<h2 class="title">Relevant Courses</h2>
<table>
  <tr>
    <th>Course Name</th>
    <th>Semester</th>
    <th>Grade</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td>Programming I</td>
    <td>Spring 2019</td>
    <td>A</td>
    <td>This course is the first Programming course taken at KU and where I was formally taught C++. This
    was my first experience with coding and is where I formed the basics of how to write code.</td>
  </tr>
  <tr>
    <td>Introduction to Digital Logic Design</td>
    <td>Fall 2018</td>
    <td>A</td>
    <td>In this course, I learned about digital logic design as well as VHDL in the lab.</td>
  </tr>
  <tr>
    <td>Calculus I, II, & III</td>
    <td>2018-2019</td>
    <td>A</td>
    <td>These courses taught me not only about mathematics but also about logical thinking and problem solving. </td>
  </tr>
  <tr>
    <td>Physics for Engineers I</td>
    <td>Spring 2019</td>
    <td>A</td>
    <td>This course broadened my horizon as a School of Engineering student as we covered the basics of many different aspects
    of physics. </td>
  </tr>
</table>
<h2 class="title">Skills</h2>
<div class=row>
<div class="col-lg-4">
    <div class=skillcol>
    <h2>Technical Skills</h2>
        <ul>
          <li>C++</li>
          <li>Angular Framework</li>
          <li>Java</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>React</li>
          <li>C++</li>
          <li>JavaScript</li>
        </ul>
    </div>
</div>

<div class="col-lg-4">
    <div class=skillcol>
    <h2>Soft Skills</h2>
      <ul>
        <li>Leadership</li>
        <li>Communication</li>
        <li>Drive</li>
        <li>Organization</li>
        <li>Detail-Oriented</li>
        <li>Quick Learner</li>
      </ul>
    </div>
</div>

<div class="col-lg-4">
    <div class=skillcol>
    <h2>Extra Skills</h2>
      <ul>
        <li>RNA Extraction</li>
        <li>Playing the Clarinet</li>
        <li>Business</li>
        <li>Marketing</li>
        <li>Microsoft Excel</li>
        <li>Exceptional Reader/Writer</li>
        <li>Operation of Heavy Machinery</li>
      </ul>
    </div>
</div>
</div>

<h2 class="title">Academic Achievements</h2>
<table>
  <tr>
    <th>Year</th>
    <th>Award</th>
    <th>Description/Comments</th>
  </tr>
  <tr>
    <td>2019</td>
    <td>Garmin Scholar</td>
    <td>This honor came as a scholarship sponsered by Garmin due to Academic Excellence in the EECS department.</td>
  </tr>
  <tr>
    <td>2019</td>
    <td>Honor Roll</td>
    <td>Received Honor Roll recognition for both Fall Semester 2018 and Spring semester 2019 for grades made freshman year of college.</td>
  </tr>
  <tr>
    <td>2018-2019</td>
    <td>Ellis Scholar</td>
    <td>Was accepted into the Ellis program which is accompanied with a scholarship in recognition of motivation to go above and beyond.</td>
  </tr>
  <tr>
    <td>2018</td>
    <td>Chancellor Scholarship Recipient</td>
    <td>This is the highest scholarship awarded from the University admission department.</td>
  </tr>
  <tr>
    <td>2018</td>
    <td>Governor's Scholar</td>
    <td>Was invited to recognition ceremony and reception and the Governor's mansion for academic excellence in my high school years.</td>
  </tr>
</table>
