<header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>
<div class=container>
<div class="col-lg-4">
    <h2>Technical Skills</h2>
    <div class=skill>
        <h4>
            C++
        </h4>
        <p>
            Courses: Programming I, EECS 168 at the University of Kansas School of Engineering
        </p>
        <h4>
            Angular Framework
        </h4>
        <p>Internship Summer 2019 at Sun Life in Kansas City, MO. 
            Designed an App that was used to update, delete, post, and view an assortment of 
            Member Coverage Forms using Angular Framework for the frontend development.
        </p>
        <h4>
            Java
        </h4>
        <p>
            Internship Summer 2019 at Sun Life in Kansas City, MO. Designed an app that was used to update, delete,
            post, and view an assortment of Member Coverage Forms using Java for the backend. Most of this Java code was 
            written in a RESTful service within the application.
        </p>
        <h4>Other technologies I have used during self-incurred development: </h4>
        <h5>HTML</h5>
        <h5>CSS</h5>
        <h5>React</h5>
        <h5>Python</h5>
    </div>
</div>

<div class="col-lg-4">
    <h2>Soft Skills</h2>
    <h4>Leadership</h4>
    <h4>Communication</h4>
    <h4>Drive</h4>
    <h4>Organization</h4>
    <h4>Detail-Oriented</h4>
</div>

<div class="col-lg-4">
    <h2>Extra Skills</h2>
    <h4>RNA Extraction</h4>
    <h4>Business</h4>
    <h4>Microsoft Excel</h4>
    <h4>Operation of Heavy Machinery</h4>
    <h4>Being Annoying</h4>
</div>
</div>
