
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>
  <h2 class="title">Professional Development</h2>
<div class="containter">

      <div class="row">
      <p class="jobTitle">Information Technology Developer Intern</p>
      <p class="company">Sun Life</p>
      <p class="date">Kansas City, MO: Summer 2019</p>
      </div>
  <div class="row">
      <div class="col-lg-4">
      <p class="descriptionHeader">Roles and Responsibilities:</p>
        <ul>
        <li>Full-Stack Application Development using and Angular framework frontend and a Java backend. Performed CRUD
        operations communication with a Mongo Database. </li>
        <li>Communicated with teammates using a Jira board to assign tasks and a BitBucket repository to transfer code
        across the project. Our team used an Agile structure.</li>
        <li>Learned about different fields of IT through informational series hosted for the interns. This series included
        talks over Project Management, User Experience Design, Quality Assurance, and Vendor Management.</li>
        <li>Studied additional languages as part of the internship that were outside the scope on my main application.</li>
      </ul>
      </div>
      <div class="col-lg-4">
      <p class="descriptionHeader">Technologies Used:</p>
        <ul>
          <li>Angular Framework (HTML, CSS, TypeScript)</li>
          <li>Java</li>
          <li>Spring-Boot</li>
          <li>Maven</li>
          <li>WebSphere Liberty</li>
          <li>MongoDB</li>
          <li>Bootstrap</li>
          <li>IntelliJ IDEA</li>
          <li>SQL</li>
          <li>React</li>
          <li>JavaScript</li>
        </ul>
      <p class="description"></p>
      </div>
      <div class="col-lg-4"><img src="./assets/SunLifeTeam.jpg" width="80%"/><br>
        <p>Pictured, from left to right: Robert Bullard, Supervisor of Intern Program. Evan Trout, Developer Intern. Steven Kouri, Developer Mentor.
        Amanda Nelson, Developer Intern. Jon Carter, Developer Mentor.</p>
      </div>
    <a>Documentation of Application that I worked on in this Position Here</a>
</div>

  <div class="row">
    <div class="job">
      <p class="jobTitle">SELF Engineering Leadership Fellows</p>
      <p class="company">The University of Kansas School of Engineering</p>
      <p class="date">Lawrence, KS: January 2018-Present</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
      <p class="descriptionHeader">Roles and Responsibilities:</p>
      <ul>
        <li></li>
      </ul>
      </div>
      <div class="col-lg-4">
      <p class="descriptionHeader">Development Series:</p>
      <p class="description"></p>
      </div>
      <div class="col-lg-4"><img src="./assets/Nelson.jpg" width="50%"/></div>
    </div>
  </div>

<div class="row">
  <div class="job">
    <p class="jobTitle">HackKU</p>
    <p class="company">The University of Kansas School of Engineering</p>
    <p class="date">Lawrence, KS: January 2019</p>
  </div>
</div>
  <div class="row">
    <div class="col-lg-4">
      <p class="descriptionHeader">Project Description:</p>
      <ul>
        <li>Frontend Project that was an educational quiz game for students to take to learn more about the Environment. This project was called "Nature Knowledge".</li>
        <li>Worked on a team of three, all of us freshman with little to no programming experience</li>
        <li>Used as a learning project to network with fellow developers and create my very first frontend.</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <p class="descriptionHeader">Technologies Used: </p>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
    </div>
    <div class="col-lg-4">
Screenshot of Nature Knowledge Here
    </div>
  </div>

<div class="row">
  <div class="job">
    <p class="jobTitle">Undergraduate Research Assistant</p>
    <p class="company">The University of Kansas Joy Ward Lab</p>
    <p class="date">Lawrence, KS: September 2019-May 2019</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
<p class="descriptionHeader">Roles and Responsibilities: </p>
    <ul>
      <li>Performed RNA Isolation on many different experiments to help my supervisor, Hannah Kinmonth-Schultz, with her
      microbiology research.</li>
      <li>Managed upkeep of daily lab tasks such as watering, fertilizing, and planting the plants, as well as cleaning and taking care of chamber room where the plants'
        environment was controlled</li>
      <li>Maintained documentation in lab notebooks of everything that I did in order to maintain consistency between experiments</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <p class="descriptionHeader">Technologies Used: </p>
    <ul>
      <li>Mircrosoft Excel</li>
      <li>Microbiology Equipment</li>
      <li>Basic Lab Equipment</li>
    </ul>

  </div>
  <div class="col-lg-4"><p>Image of Something I worked on at work Here</p></div>
</div>


</div>


