
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>

<div class="containter">
<div class="row">
  <h2 class="title">Professional Development</h2>
</div>

  <div class="row">
    <div class="job">
      <div class="row">
      <p class="jobTitle">Information Technology Developer Intern</p>
      <p class="company">Sun Life</p>
      <p class="date">Summer 2019</p>
      </div>
      <div class="col-lg-4">
      <p class="descriptionHeader">Roles and Responsibilities:</p>
        <ul>
        <li>hi</li>
        <li>There</li>
        <li>Me</li>
      </ul>
      </div>
      <div class="col-lg-4">
      <p class="descriptionHeader">Technologies Used:</p>
      <p class="description"></p>
      </div>
      <div class="col-lg-4">Image of myself at Sun Life goes Here</div>
    </div>
  </div>
  <div class="row">
    <div class="job">
      <p class="jobTitle">Undergraduate Research Assistant</p>
      <p class="company">The University of Kansas Joy Ward Lab</p>
      <p class="date">September 2019-May 2019</p>
      <p class="descriptionHeader">Roles and Responsibilities:</p>
      <p class="description"></p>
      <p class="descriptionHeader">Technologies Used:</p>
      <p class="description"></p>
    </div>
  </div>
  <div class="row">
    <div class="job">
      <p class="jobTitle">SELF Engineering Leadership Fellows</p>
      <p class="company">The University of Kansas School of Engineering</p>
      <p class="date">January 2018-Present</p>
      <p class="descriptionHeader">Roles and Responsibilities:</p>
      <p class="description"></p>
      <p class="descriptionHeader">Development Series:</p>
      <p class="description"></p>
    </div>
  </div>

<div class="row">
  <div class="job">
    <p class="jobTitle">HackKU</p>
    <p class="company">The University of Kansas School of Engineering</p>
    <p class="date">January 2019</p>
    <p class="descriptionHeader">Project Title: Nature Knowledge</p>
    <p class="description"></p>
  </div>
</div>
</div>


