/* You can add global styles to this file, and also import other style files */
.button--navigation {
    background-color: rgb(219, 221, 219); 
    border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: none;
  border-left: none;
    color: black;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
  }

.button--navigation:hover {
  color: blue;
}

  h2 {
      text-align: center;
  }

.title {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;

}

.jobTitle {
  font-size: 24px;
  font-weight: bold;
}

.row {
  margin: 25px;
}

.company {
  font-size: 24px;
}

ul {
  line-height: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

a {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #333;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(88, 224, 122);
}
