<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<h1 class="name">Amanda Nelson</h1>
<body>
    <div class="container-fluid">

      <h2 class="obj">Objective: To obtain an internship position for the summer of 2020 in the Computer Science Industry,
      with a preference on Front End Development or UX Design</h2>
      <img src="./assets/city.jpg" class="me" width=100% />

      <div class="row">
    <div class="col-lg-7">
        <div class="homeText">
            <div class="margin">
        <p class="bio">
            My name is Amanda Nelson and I am an undergraduate student attending the University of Kansas' 
            School of Engineering for Computer Science originally from LaCygne, KS. I am currently searching for an Internship for the summer of 
            2020, and have experience in many different programming languages and have previously worked as a
            full-stack developer intern. I also pride myself in being a hard-worker, which I think you will find 
            for yourself as you continue through this simple web page I made
            to try to better communicate who I am and what I have to contribute. I have been involved in many
            activities in my time at the University, which has definitely broadened my horizon about the tech industry
            and about myself. I will be attending the Grace Hopper Conference 2019. Feel free to contact me with
            any questions that may occur to you while visiting any of the pages in this site. <br> <br> 
            Sincerely, <br><br>
        </p>
            <p class="signatureName">Amanda Nelson</p>
            </div>
            </div>
    </div>

    <div class="col-lg-5">
        <img src="./assets/SunLifeHeadshot.jpg" class="me" width=100% />
    </div>
      </div>

      <div class="edu">
        <h2 class="obj">Education</h2>
        <div class="row">
<div class="col-lg-6">
        <h3 class="school">The University of Kansas</h3>
        <p class="des">Bachelor of Science in Computer Science</p>
        <p class="des">Minor in Business</p>

        <p>GPA: 4.0</p>
        <p>Graduation: May 2022</p>
</div>

<div class="col-lg-6">
        <h3 class="school">Prairie View High School</h3>
        <p class="des">High School Graduate</p>

        <p>GPA: 4.0</p>
        <p>Rank: 1 of 77</p>
        <p>Kansas Regents Scholar</p>
        <p>Kansas Governor's Scholar</p>
        <p>Graduation: May 2018</p>
</div>
        </div>

      </div>
      <img src="./assets/farm.jpg" class="me" width=100% />
    
    </div>
        
</body>

</html>
