<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<h1 class="name">Amanda Nelson</h1>
<body>
    <div class="container-fluid">
    <div class="col-lg-7">
        <div class="homeText">
            <div class="margin">
        <p class="bio">
            My name is Amanda Nelson and I am an undergraduate student attending the University of Kansas' 
            School of Engineering for Computer Science originally from LaCygne, KS. I am currently searching for an Internship for the summer of 
            2020, and have experience in many different programming languages and have previously worked as a
            full-stack developer intern. I also pride myself in being a hard-worker, which I think you will find 
            for yourself as you continue through this simple web page I made
            to try to better communicate who I am and what I have to contribute. I have been involved in many
            activities in my time at the University, which has definitely broadened my horizon about the tech industry
            and about myself. I will be attending the Grace Hopper Conference 2019. Feel free to contact me with
            any questions that may occur to you while visiting any of the pages in this site. <br> <br> 
            Sincerely, <br><br>
        </p>
            <p class="signatureName">Amanda Nelson</p>
            </div>
            </div>
    </div>

    <div class="col-lg-5">
        <img src="./assets/SunLifeHeadshot.jpg" class="me" width=100% />
    </div>
    
    </div>
        
</body>

</html>
